<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Baekbeom-ro & Daeheung-ro</h1>
			<h3>2015.September - 2015.December</h3>
			<!--<span class="image main"><%= image_tag "Remembar_Usage.jpg" %></span>-->
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "baek_title.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "baek_baekbeomro.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "baek_daeheung.jpg" %></span></div>
			</div>
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "baek_orangestreet.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "baek_fruitstore.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "baek_ending.jpg" %></span></div>
			</div>
			<br>
			<p>This is a documentary film about contrasting worlds on two diffrent streets, Baekbeom-ro and Daheung-ro. I try to capture the images and stories of a disappering street, Daheung-ro in comparison with Baekbeom-ro. Baekbeom-ro is a fancy and busy downtown street where everyone is anonymous in a crowd. Conversely, Daheung-ro is an undeveloped and shabby street embracing individual human stories.  </p>
			<p>반경 500m 거리 이내에 위치하지만 전혀 다른 두 모습을 가지고 있는 두 거리, 백범로, 대흥로를 걸으며 느끼는 이질적인 감성, 그 속에 담긴 이야기와 사라져가는 대흥로의 모습을 다큐멘터리로 풀어내었다.깔끔하고 화려한 백범로의 모습과 달리 대흥로는 낡고 허름하다. 그러나 백범로가 한 명의 인간이 수 십명의 군중속에 너무나 쉽게 익명으로 묻혀버리는 곳이라면 대흥로는 구멍가게 하나 하나에 주인할머니, 할아버지의 고유한 스토리가 담겨있고 좁은 길을 지나는 행인 한 명 한명이 고유한 인간으로 드러나는 곳이다. 재개발 허가가 떨어진 후 완전히 사라지게 될 대흥로의 낡고 허름하지만 정감있는 모습들을 마지막으로 영상에 담아내었다. </p>
			<!--<div class="videoWrapper">-->
			<!--<iframe width="853" height="480" src="https://www.youtube.com/embed/uVDPwdMoUvA?rel=0" frameborder="0" allowfullscreen></iframe>-->
			<!--</div>-->
			<br><br>
			<p>This film is directed and edited by Seyeong Kim in Visual Storytelling class at Art & Technology Dept., Sogang Univ. </p>
			<!--<p>This project was done by Seyeong Kim and Saebom Kwon in Physical Computing class at Art & Technology Dept., Sogang Univ..</p>-->
		</div>
	</div>