	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Unity Web Player | New Unity Project</title>
		<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
		<script type="text/javascript">
		<!--
		var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
		if (document.location.protocol == 'https:')
			unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
		document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
		-->
		</script>
		<script type="text/javascript">
		<!--
			var config = {
				width: 960, 
				height: 600,
				params: { enableDebugging:"0" }
				
			};
			var u = new UnityObject2(config);

			jQuery(function() {

				var $missingScreen = jQuery("#unityPlayer").find(".missing");
				var $brokenScreen = jQuery("#unityPlayer").find(".broken");
				$missingScreen.hide();
				$brokenScreen.hide();
				
				u.observeProgress(function (progress) {
					switch(progress.pluginStatus) {
						case "broken":
							$brokenScreen.find("a").click(function (e) {
								e.stopPropagation();
								e.preventDefault();
								u.installPlugin();
								return false;
							});
							$brokenScreen.show();
						break;
						case "missing":
							$missingScreen.find("a").click(function (e) {
								e.stopPropagation();
								e.preventDefault();
								u.installPlugin();
								return false;
							});
							$missingScreen.show();
						break;
						case "installed":
							$missingScreen.remove();
						break;
						case "first":
						break;
					}
				});
				u.initPlugin(jQuery("#unityPlayer")[0], "https://s3.ap-northeast-2.amazonaws.com/portfolio37/gameprogramming_final.unity3d");
			});
		-->
		</script>
		<style type="text/css">
		<!--
		/*body {*/
		/*	font-family: Helvetica, Verdana, Arial, sans-serif;*/
		/*	background-color: white;*/
		/*	color: black;*/
		/*	text-align: center;*/
		/*}*/
		/*a:link, a:visited {*/
		/*	color: #000;*/
		/*}*/
		/*a:active, a:hover {*/
		/*	color: #666;*/
		/*}*/
		/*p.header {*/
		/*	font-size: small;*/
		/*}*/
		/*p.header span {*/
		/*	font-weight: bold;*/
		/*}*/
		/*p.footer {*/
		/*	font-size: x-small;*/
		/*}*/
		div.content {
			margin: auto;
			width: 100%;
		}
		div.broken,
		div.missing {
			margin: auto;
			position: relative;
			top: 50%;
			width: 193px;
		}
		div.broken a,
		div.missing a {
			height: 63px;
			position: relative;
			top: -31px;
		}
		div.broken img,
		div.missing img {
			border-width: 0px;
		}
		div.broken {
			display: none;
		}
		div#unityPlayer {
			cursor: default;
			width: 100%px;
		}
		-->
		</style>
	</head>

<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Color Mix</h1>
			<h3>2014.September - 2014.October</h3>
			<!--<span class="image main"><%= image_tag "Remembar_Usage.jpg" %></span>-->
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "colormix1.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix2.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix3.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix4.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix5.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix6.jpg" %></span></div>
			</div>
			<br>
			<p>This is a 3D art game. You can make new colors by combining the lights from the primary color balls(Red, Green, Blue).</p>
			<h3>Game Video</h3>
			<div class="videoWrapper">
				<iframe src="https://player.vimeo.com/video/176408924" width="720" height="447" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<p><a href="https://vimeo.com/176408924">ColorMix</a> from <a href="https://vimeo.com/user29301698">SeYeong Kim</a> on <a href="https://vimeo.com">Vimeo</a>.</p>		
			
			<h3>Game Play</h3>
		<div class="content">
			<div id="unityPlayer">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
				<div class="broken">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
						<img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
					</a>
				</div>
			</div>
		</div>
			<p>Tool : Unity</p>
			<p>This project is done by Seyeong Kim in Game Programming class at Art & Technology Dept., Sogang Univ..</p>
		</div>
	</div>