<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Color Mix</h1>
			<h3>2014.September - 2014.October</h3>
			<!--<span class="image main"><%= image_tag "Remembar_Usage.jpg" %></span>-->
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "colormix1.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix2.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix3.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix4.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix5.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "colormix6.jpg" %></span></div>
			</div>
			<br>
			<p>This is a 3D art game. You can make new colors by combining the lights from the primary color balls(Red, Green, Blue).</p>
			<p>Tool : Unity</p>
			<p>This project is done by Seyeong Kim in Game Programming class at Art & Technology Dept., Sogang Univ..</p>
		</div>
	</div>