<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Draw & Crack</h1>
			<h3>2014.October - 2014.November</h3>
			<!--<span class="image main"><%= image_tag "drawncrack1.jpg" %></span>-->
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack2.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack6.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack3.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack4.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack1.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "drawncrack5.jpg" %></span></div>
			</div>
			<br>
			<p>This is a tablet game for two players where you can draw walls to bounce the ball or crack other player's walls to win the game.</p>
			<p>Tool : Processing + Java Eclipse</p>
			<p>This project is done by Seyeong Kim and Seoha Kim in JAVA class at Computer Science Dept., Sogang Univ..</p>
		</div>
	</div>