<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Immersive Classroom</h1>
			<h3>2015.September - 2016.Febuary</h3>
			<div class="row uniform">
				<span class="image fit" style="width:25%;"><%= image_tag "icaquaband.jpg" %></span>
				<span class="image fit" style="width:25%;"><%= image_tag "iccreature.jpg" %></span>
				<span class="image fit" style="width:25%;"><%= image_tag "icfishgroup.jpg" %></span>
				<span class="image fit" style="width:25%;"><%= image_tag "iclayersoflife.jpg" %></span>
			</div>
			<p>This is a collaborative research project with <a href="http://www.dstrict.com/arttechfactory/en/index.html" target="_blank">d'Strict</a> and Jeju Marine Science Museum. We design 4 types of interactive learning solutions for children's marine museums.</p>
			<br>

			<p><h3>01 Aqua Band</h3>We design this interactive table for kids to make musics with tagible interface. Kids can play with underwater animal sound tags on the table and figure out how the music changes responding to the tags on real time.</p>
			<span class="image fit"><%= image_tag "icaquaband.jpg" %></span>
			<p><h3>02 Imaginary Creature</h3>This is an interactive table on which kids can make their own creatures while learning about characteristics of sea creatures</p>
			<span class="image fit"><%= image_tag "iccreature.jpg" %></span>
			<p><h3>03 School of Fish</h3>This is an interactive group game where kids solve quizzes together wearing interactive hats.</p>
			<span class="image fit"><%= image_tag "icfishgroup.jpg" %></span>
			<p><h3>04 Layers of The Ocean</h3>This is an interactive shooting game where children can learn about layers of the ocean and diffrent kinds of sea creatures in each layer.</p>
			<span class="image fit"><%= image_tag "iclayersoflife.jpg" %></span>
			<br>
		</div>
	</div>