
<div id="main">
	<div class="inner">
		<header>
  		  <ul class="actions">
  		  	<li><a href="/" class="button special small">all</a></li>
  		  	<li><a href="humanity" class="button small">humanity</a></li>
  		  	<li><a href="education" class="button small">education</a></li>
  		  	<li><a href="interaction" class="button small">interaction</a></li>
  		  	<li><a href="design" class="button small">design</a></li>
  		  	<li><a href="art" class="button small">art</a></li>
  		  	<li><a href="vr" class="button small">VR</a></li>
  		  	<li><a href="startup" class="button small">start-up</a></li>
  		  </ul>
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>

		<section class="tiles">

			<article class="style1">
				<span class="image">
					<%= image_tag "index_VRpoetry.jpg" %>
				</span>
				<a href="VRpoetry">
					<h2>VR Poetry</h2>
					<div class="content">
						<p>A next storytelling medium for poetry representing a text poem into a visual form of tree structure.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<%= image_tag "index_woozu.jpg" %>
				</span>
				<a href="woozu">
					<h2>WOOZU</h2>
					<div class="content">
						<p>A 3D printing contents web market where users can easily customize 3d models.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<%= image_tag "index_remembar.jpg"%>
				</span>
				<a href="remembar">
					<h2>Remembar</h2>
					<div class="content">
						<p>A new type of digital clock specially designed for daily scheduling.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<%= image_tag "index_immersiveclassroom.jpg" %>
				</span>
				<a href="immersiveclassroom">
					<h2>Immersive Classroom</h2>
					<div class="content">
						<p>A collaborative research project with d'Strict and Jeju Marine Science Museum.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<%= image_tag "index_underwater2.jpg" %>
				</span>
				<a href="underwater">
					<h2>Underwater Experience</h2>
					<div class="content">
						<p>A VR content where you can explore ancient sea and observe prehistoric sea creatures.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<%= image_tag "index_lango.jpg" %>
				</span>
				<a href="lango">
					<h2>Lango</h2>
					<div class="content">
						<p>Interactive cubes specially desiged for language learning.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<%= image_tag "index_bndstreet.jpg" %>
				</span>
				<a href="baekbeomro">
					<h2>Baekbeom-ro & Daeheung-ro </h2>
					<div class="content">
						<p>A documentary film about contrasting worlds on two diffrent streets, Baekbeom-ro and Daheung-ro.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<%= image_tag "index_charatergraphy.jpg" %>
				</span>
				<a href="charactergraphy">
					<h2>Charactergraphy</h2>
					<div class="content">
						<p>An imaginary biography writing and character building for sophisticated storytelling.</p>
					</div>
				</a>
			</article>
			<article class="style1">
				<span class="image">
					<%= image_tag "index_invisiblecities" %>
				</span>
				<a href="visualbook">
					<h2>Visual book - Invisible Cities</h2>
					<div class="content">
						<p>A visual book made of sand, inspired by <em>Invisible cities by Italo Calvino</em></p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<%= image_tag "index_drawncrack.jpg" %>
				</span>
				<a href="drawncrack">
					<h2>Draw & Crack</h2>
					<div class="content">
						<p>A tablet game for two players where you can draw walls to bounce the ball or crack other player's walls to win the game.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<%= image_tag "index_colormix.jpg" %>
				</span>
				<a href="colormix">
					<h2>Color Mix</h2>
					<div class="content">
						<p>A 3D art game. You can make new colors by combining the lights from the primary color balls(Red, Green, Blue). </p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<%= image_tag "index_halfpingpong.jpg" %>
				</span>
				<a href="#">
					<h2>Radiance Lab</h2>
					<div class="content">
						<p>Radiant Heating Technology</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>
