<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Remembar</h1>
			<h3>2014.March - 2014.July</h3>
			<span class="image main"><%= image_tag "Remembar_Usage.jpg" %></span>
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "Remembar_features.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "Remembar_Alarm.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "Remembar_module.jpg" %></span></div>
			</div>
			<br>
			<p>Remembar is a new type of digital clock specially designed for daily scheduling. It can interact with post-its(paper memo) on which you write down your daily plans or memo. In this project, we focused on the fact that people still enjoy using analogue scheduling method like post-its even though there are numerous number of mobile scheduling apps or planners. We considered new method to combine analogue and digital experience.</p>
			<p>You can scribble anything on a paper memo and just attach it to a specific time section of Remembar. If there's any memo on a certain time section, Remembar send you a notice via your phone at the time.</p>
			<!--<%= image_tag "Remembar_poster.jpeg"%>-->
			<div class="videoWrapper">
				<iframe src="https://player.vimeo.com/video/140194704" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/140194704">Remembar</a> from <a href="https://vimeo.com/user29301698">SeYeong Kim</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			</div>
			<p>Tool : Arduino, processing</p>
			<p>This project is done by Seyeong Kim and Saebom Kwon in Physical Computing class at Art & Technology Dept., Sogang Univ..</p>
		</div>
	</div>