<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Visual Book - Invisible Cities</h1>
			<h3>2012.March - 2012.June</h3>
			<!--<span class="image main"><%= image_tag "VB2.jpg" %></span>-->
		 <!--   <p>A visual book made of color sand, inspired by <em>Invisible cities by Italo Calvino</em></p>-->
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "VB0.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VB1.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VB3.jpg" %></span>
				<span class="image main"><%= image_tag "VB2.jpg" %></span></div>
			</div>
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "VB4.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VB6.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VB5.jpg" %></span></div>
			</div>
			<br>
			<p>In this project, I visualize one of the cities from <em>Invisible cities by Italo Calvino</em>. I deeply inspired by the text dealing with the concept of memory and time. Sand is a main material of this book.</p>
			<p>Advisor : Prof. <a href="https://www.umass.edu/art/people/ymoon">Young Min Moon</a></p>
			<p>This project is done by Seyeong Kim in Humanities & Creativity class at Dept. of Art & Technology, Sogang University.</p>
		</div>
	</div>