<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>VR Poetry</h1>
			<h3>2013 - 2015</h3>
			<span class="image main"><%= image_tag "VRpoetry1.jpg" %></span>
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "tree1.JPG" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "tree2.JPG" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VRpoetry4.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "VRpoetry2.jpg" %></span></div>
			</div>
			<br>
			<p>In this project, we explore the next storytelling medium for poetry. We re-present a text poem into a visual form that reflects the characteristics of the poem. Our vision is to create a pandora of poems where all the poems from all over the world are re-born as a unique visual entity and anyone can walk around, see, listen, and touch the poem.</p>
			<p>I mainly dedicate to visualizing the computer graphic and designing the interaction between users and the virtual forest of poems.</p>
			<h3>First Version - Nature Never, Chindallaekkot</h3>
			<div class="videoWrapper">
				<iframe width="720" height="405" src="https://www.youtube.com/embed/IbGVa2ZcNvw" frameborder="0" allowfullscreen></iframe>
			</div>
			<p>6th International Conference on Intelligent Technologies for Interactive Entertainment (INTETAIN), Chicago, 2014 </p>
			
			<h3>Second Version - Touching the Poem</h3>
				<%= image_tag "VRpoetry_HCIposter.jpg", :style => "width:100%" %>
			<p>3D Interactive Visualization and Navigation of Kim Sowol's Chindallaekkot (진달래 꽃 시집) poster, HCI Korea Creative Award, 2015</p>

			<div class="videoWrapper">
				<iframe width="100%" src="https://www.youtube.com/embed/nFt1S9M_tNw" frameborder="0" allowfullscreen></iframe>
			</div>
			<p>3D Interactive Visualization and Navigation of Kim Sowol's Chindallaekkot (진달래 꽃 시집), HCI Korea Creative Award, 2015</p>
			
			<h3>Third Version - VR Poetry</h3>
			<%= image_tag "VRpoetry_thirdversion.jpg", :style => "width:100%"%>
			<p>More information - Link to <a href="http://www.j-imagination.com/#!new-poetry/c234n" target="_blank">Futue Lab - VR Poetry</a></p>
			<p>This project is done by Prof. Jusub Kim, Prof. Wayne de Fremery and Seyeong Kim, Dept. of Art & Technology and Global Korean Studies, Sogang University. </p>
		</div>
	</div>