<!DOCTYPE html>
<html>
<head>


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	

	<!--[if lte IE 8]><script src="https://s3.ap-northeast-2.amazonaws.com/portfolio37/html5shiv.js"></script><![endif]-->
	<%= stylesheet_link_tag "main.css" %>
	<!--[if lte IE 9]><%= stylesheet_link_tag "ie9.css"%><![endif]-->
	<!--[if lte IE 8]><%= stylesheet_link_tag "ie8.css" %><![endif]-->
	
	<title>Kim Seyeong</title>
	<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
	<style>
	
		.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	</style>
</head>
<body>
  <!-- Wrapper -->
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>Kim Seyeong | 김세영</h2></a>
					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>
				
      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <%= yield %>
  	<!-- Menu -->
  		<nav id = "menu">
  			<h2>Menu</h2>
  			<ul>
  				<li><a href="/generic">About</a></li>
  				<li><a href="/">Works</a></li>
  				<!--<li><a href="generic">Drawings</a></li>-->
  				<li><a href="/awards">Awards & Honours</a></li>
  				<!--<li><a href="/#">CV</a></li>-->
  				<li><a href="elements">Elements</a></li>
  			</ul>
  		</nav>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Get in touch</h2>
						<p><strong>Phone</strong>&nbsp +82)10-8279-7736</p>
						<p><strong>Email</strong>&nbsp kimseyeong93@gmail.com</p>
						<p>Currently lives in Seoul, South Korea</p>
						<!--<form method="post" action="#">-->
						<!--	<div class="field half first">-->
						<!--		<input type="text" name="name" id="name" placeholder="Name" />-->
						<!--	</div>-->
						<!--	<div class="field half">-->
						<!--		<input type="email" name="email" id="email" placeholder="Email" />-->
						<!--	</div>-->
						<!--	<div class="field">-->
						<!--		<textarea name="message" id="message" placeholder="Message"></textarea>-->
						<!--	</div>-->
						<!--	<ul class="actions">-->
						<!--		<li><input type="submit" value="Send" class="special" /></li>-->
						<!--	</ul>-->
						<!--</form>-->
					</section>
					<section>
						<h2>Follow</h2>
						<ul class="icons">
							<li><a href="https://www.facebook.com/srkim7733" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/seyeongkim93" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<!--<li><a href="https://github.com/seyeongkim" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>-->
							<li><a href="https://kr.linkedin.com/in/seyeong-kim-2a7503b0" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<!--<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>-->
							<!--<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>-->
						</ul>
					</section>
					<ul class="copyright">
						<li>&copy; Kim Seyeong. All rights reserved</li>
						<li>Design Reference. <a href="https://html5up.net/">HTML5up</a></li>
					</ul>
				</div>
			</footer>
		</div>

	<!-- Scripts -->
	
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

</body>
</html>

